.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 12px;

	.total {
		text-align: center;

		.price {
			color: var(--primary);
		}

		.gram {
			color: var(--gray-text);
		}
	}

	button {
		height: 48px;
	}
}
