.card {
	border-radius: 12px;
	background-color: var(--white);
	border: 1px solid var(--line-gray);
}

.category {
	padding: 20px 40px;
	row-gap: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all ease 0.2s;
	cursor: pointer;

	&:hover {
		border: 1px solid var(--primary);
	}
}

.category-mobile {
	padding: 8px 12px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	column-gap: 8px;
}
