.card {
	padding: 16px 20px;
	margin-top: 24px;

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;

		.border {
			height: 44px;
			width: 4px;
			background-color: var(--red);
			border-radius: 24px;
			margin-right: 16px;
		}

		.icon {
			color: var(--primary);
			cursor: pointer;

			svg {
				transition: all ease-out .2s;
			}
		}

		.icon-transform {
			svg {
				transform: rotate(180deg);
			}
		}
	}

	.info {
		margin: 16px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.products-preview {
			position: relative;
			width: 104px;
			height: 40px;
		}
	}
}
