.value {
	display: flex;
	align-items: center;
	cursor: pointer;

	.arrow {
		margin-top: 2px;
		transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
		transition-duration: 500ms;
	}

	.open {
		transform: rotate(180deg);
	}
}

.border {
	padding: 14px 16px;
	min-width: 310px;
	justify-content: space-between;
}

.basic {
	column-gap: 8px;
}
