.button {
	transition: all ease 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 6px;
	line-height: 22px;
	column-gap: 10px;
	font-size: 16px;
	border: 1px solid var(--primary);
	height: 44px;
	font-family: 'SF Pro Text Regular', sans-serif;
	font-weight: 400;

	@media (min-width: 767px) {
		height: 48px;
	}

	&:disabled {
		opacity: 0.6;
		cursor: unset;
	}

	.icon {
		line-height: 0;
	}
}

.primary {
	color: var(--white);
	background-color: var(--primary);
	padding: 0 16px;
}

.transparent {
	color: var(--primary);
	background-color: transparent;
}

.active {
	background-color: var(--primary);
	color: var(--white);
}
