.cart-card-modal {
	display: grid;
	grid-template-columns: 94px 1fr;
	padding: 20px 16px 16px;
	column-gap: 16px;

	img {
		width: 94px;
		height: 94px;
		object-fit: contain;
	}

	.info {
		.name {
			margin-bottom: 8px;
		}

		.bot {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 12px;

			.price {
				color: var(--primary);
			}
		}
	}
}
