.addendum-card {
	width: 105px;
	text-align: center;
	font-family: Inter, sans-serif;
	scroll-snap-align: start;
	display: flex;
	flex-direction: column;

	.addendum-item {
		width: 105px;
		height: 105px;
		position: relative;
		margin-bottom: 8px;

		.image {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}

		.icon {
			position: absolute;
			right: 8px;
			top: 8px;
		}
	}

	.added {
		color: var(--primary);
		border: 1px solid var(--primary);

		svg {
			color: var(--primary);
		}
	}

	.name {
		flex-grow: 1;
	}

	.price {
		color: var(--primary);
		margin-top: 4px;
	}
}

.added-text {
	color: var(--black);
}
