.card {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: auto;
	height: 100%;
	padding: 20px;

	.close-icon {
		align-self: flex-start;
		color: var(--gray-text);
		width: 32px;
		height: 32px;
	}

	.customizations {
		width: 100%;

		.addendum {
			.dough {
				margin-top: 24px;
				margin-bottom: 16px;
			}

			.sizes {
				margin-bottom: 24px;
			}

			.subtitle {
				font-family: Inter, sans-serif;
				margin-bottom: 16px;
			}
		}
	}
}
