.paragraph {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: var(--color-theme);
}

.w1 {
	font-weight: 600;
}

.w2 {
	font-weight: 500;
}

.w3 {
	font-weight: 400;
}
