.additional {
	width: 190px;
	overflow: hidden;
	box-sizing: content-box;
	font-family: 'Inter Regular', sans-serif;
	margin: 20px 0;

	.info {
		padding: 16px 16px 0;
		text-align: center;

		.name {
			font-family: 'SF Pro Text Regular', sans-serif;
			font-size: 18px;
			line-height: 24px;
		}

		.description {
			line-height: 18px;
			margin-top: 8px;
		}

		.price {
			background-color: var(--light-primary);
			color: var(--primary);
			display: inline-block;
			padding: 7px 16px;
			border-radius: 6px;

			span {
				margin-left: 5px;
			}
		}
	}

	.bottom {
		padding: 12px 16px 16px;

		button {
			height: 40px;
			width: 100%;
		}
	}

	.with-out-description {
		padding: 16px;
	}
}
