.card {
	border-radius: 12px;
	background-color: var(--white);
	display: flex;
	cursor: pointer;

	&-category {
		padding: 20px 40px;
		row-gap: 8px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transition: all ease 0.2s;

		&:hover {
			border: 1px solid var(--primary);
		}
	}

	&-outline {
		border: 1px solid var(--line-gray);
	}
}
