.text {
	display: block;
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: var(--color-theme);

	&-icon {
		display: flex;
		align-items: center;
		column-gap: 8px;

		svg {
			margin-top: 2px;
		}
	}

	&-w-1 {
		font-weight: 600;
	}

	&-w-2 {
		font-weight: 500;
	}

	&-w-3 {
		font-weight: 400;
	}

	&-l-1 {
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;

		@media (min-width: 767px) {
			font-size: 18px;
			line-height: 24px;
		}
	}

	&-l-2 {
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;

		@media (min-width: 767px) {
			font-size: 14px;
			line-height: 18px;
		}
	}

	&-l-3 {
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;

		@media (min-width: 767px) {
			font-size: 16px;
			line-height: 22px;
		}
	}
}
