.title {
	display: block;
	margin: 0;
	color: var(--color);

	&-l-1 {
		font-size: 28px;
		line-height: 32px;
		font-weight: 600;

		@media (min-width: 767px) {
			font-size: 40px;
			line-height: 48px;
		}
	}

	&-l-2 {
		font-size: 24px;
		line-height: 32px;
		font-weight: 600;

		@media (min-width: 767px) {
			font-size: 32px;
			line-height: 40px;
		}
	}

	&-l-3 {
		font-size: 18px;
		line-height: 22px;
		font-weight: 600;

		@media (min-width: 767px) {
			font-size: 24px;
			line-height: 32px;
		}
	}

	&-l-4 {
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
	}

	&-l-5 {
		font-size: 14px;
		line-height: 18px;
		font-weight: 600;

		@media (min-width: 767px) {
			font-size: 16px;
			line-height: 20px;
		}
	}

	&-w-1 {
		font-weight: 600;
	}

	&-w-2 {
		font-weight: 500;
	}

	&-w-3 {
		font-weight: 400;
	}

	&-uppercase {
		text-transform: uppercase;
	}
}
