.phone {
	width: 320px;
	text-align: center;
	margin: 0 auto;
	font-family: 'Inter Regular', sans-serif;

	h2 {
		margin-bottom: 16px;
		font-size: 28px;
	}

	.subtitle {
		font-family: 'SF Pro Text Regular', sans-serif;
		font-size: 14px;
	}

	.message {
		color: var(--gray-text);
		margin-top: 12px;
	}

	button {
		margin-top: 12px;
		margin-bottom: 12px;
		padding: 13px 40px;
		width: 100%;
		font-size: 14px;
		height: 44px;
	}

	.terms {
		opacity: 0.4;
		transition: all ease-in 0.2s;
		cursor: pointer;
		font-size: 12px;

		&:hover {
			opacity: 1;
			text-decoration: underline;
		}
	}
}
