.phone {
	width: 320px;
	text-align: center;
	margin: 0 auto;
	font-family: 'Inter Regular', sans-serif;

	h2 {
		margin-bottom: 16px;
	}

	.subtitle {
		font-family: 'SF Pro Text Regular', sans-serif;
	}

	.message {
		color: var(--gray-text);
		margin-top: 16px;
	}

	button {
		margin-top: 16px;
		margin-bottom: 12px;
		padding: 16px 40px;
		width: 100%;
	}

	.terms {
		opacity: 0.4;
		transition: all ease-in 0.2s;
		cursor: pointer;

		&:hover {
			opacity: 1;
			text-decoration: underline;
		}
	}
}
