.basket-desktop {
	padding: 20px;
	width: 850px;
	margin: 0 auto;

	h3 {
		font-size: 18px;
	}

	.sum {
		color: var(--primary);
		font-size: 18px;
		text-align: center;
		margin-bottom: 20px;
	}

	.divider {
		margin-bottom: 20px;
	}

	.personal-data {
		margin: 20px 0;
		display: flex;
		column-gap: 10px;
		justify-content: space-between;
		align-items: center;

		input {
			width: 250px;
		}
	}

	.delivery {
		margin-top: 20px;

		.top {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.tabs {
				width: 350px;
			}
		}

		.address {
			display: flex;
			column-gap: 20px;

			.street {
				width: 75%;
			}

			.house {
				width: 25%;
			}
		}

		.house-info {
			display: flex;
			column-gap: 20px;

			.entrance,
			.level,
			.apartment-number,
			.code {
				width: 50%;
			}
		}

		.how-soon {
			display: flex;
			flex-direction: column;
			row-gap: 12px;
			margin-top: 16px;

			.title {
				color: var(--gray-text);
			}

			.column {
				display: flex;
				column-gap: 24px;
				align-items: center;
				margin-top: 4px;
			}

			.items {
				display: flex;
				column-gap: 24px;
			}

			.change-input {
				width: 130px;
			}
		}
	}
}
