.modal-product-customizations {
	padding: 30px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--white);
	border-radius: 24px;
	position: relative;
	width: 1070px;

	.close-icon {
		position: absolute;
		top: 0;
		right: -50px;
		color: var(--white);
		width: 32px;
		height: 32px;
		cursor: pointer;
		transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
		transition-duration: 500ms;

		&:hover {
			transform: rotate(90deg);
		}
	}

	.card {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		width: 100%;

		.customizations {
			.addendum {
				.dough {
					margin-top: 24px;
					margin-bottom: 16px;
				}

				.sizes {
					margin-bottom: 24px;
				}

				.subtitle {
					font-family: Inter, sans-serif;
					margin-bottom: 16px;
				}

				.add {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 25px;
					color: var(--primary);
				}
			}
		}
	}
}
