.basket-mobile {
	padding: 20px;

	h3 {
		font-size: 18px;
	}

	.sum {
		color: var(--primary);
		font-size: 18px;
		text-align: center;
		margin-bottom: 20px;
	}

	.divider {
		margin-bottom: 20px;
	}
}
