.order-card {
	color: var(--gray-text);
	display: grid;
	grid-template-columns: 200px auto;
	row-gap: 12px;

	.title {
		margin-bottom: 4px;
	}

	.info {
		display: flex;
		gap: 8px;

		.number {
			color: var(--black);
		}
	}
}
