.image {
	position: absolute;
	left: 30px;
	top: 0;
	border-radius: 50%;
	border: 1px solid var(--white);
	background-color: var(--white);

	&:nth-child(3) {
		left: 0;
		top: 0;
	}

	&:nth-child(1) {
		left: 60px;
		top: 0;
	}
}

.desktop {
	&:nth-child(3) {
		left: 0;
		top: 0;
	}

	&:nth-child(1) {
		left: 60px;
		top: 0;
	}
}

.mobile {
	&:nth-child(1) {
		left: 0;
		top: 0;
	}

	&:nth-child(3) {
		left: 60px;
		top: 0;
	}
}
