.top {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.edit {
		display: flex;
		align-items: center;
		color: var(--gray-text);
		font-family: 'SF Pro Text Regular', sans-serif;
		cursor: pointer;

		svg {
			margin-right: 12px;
			color: var(--gray-text);
		}

		&:hover {
			color: var(--primary);

			svg {
				color: var(--primary);
			}
		}
	}
}

.personal-data {
	display: flex;
	justify-content: space-between;
	column-gap: 32px;

	.item {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
		row-gap: 4px;

		.label {
			color: var(--gray-text);
		}

		.value {
			max-width: 202px;
			overflow: hidden;
			color: var(--black);
			font-family: 'SF Pro Text Regular', sans-serif;
			text-overflow: ellipsis;
		}
	}
}
