.basket-product {
  width: 850px;
  height: 152px;
  display: grid;
  grid-template-columns: 120px 1fr repeat(2, auto);
  align-items: center;
  font-family: "Inter Regular", sans-serif;
  padding: 16px 24px 16px 16px;

  .description {
    margin-left: 16px;

    .name {
      margin-bottom: 8px;
    }
  }

  .total-price {
    font-size: 20px;
    line-height: 28px;
    margin-left: 40px;
    color: var(--primary);
  }
}