.radio-items-with-input {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 16px;
  margin-bottom: 16px;

  .title {
    color: var(--gray-text);
  }

  .column {
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    margin-top: 4px;
  }

  .items {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .input {
    width: 100%;
  }
}