.title {
	display: block;
	margin: 0;
	color: var(--color);
	font-weight: 600;
}

.l1 {
	font-size: 40px;
	line-height: 48px;
}

.l2 {
	font-size: 32px;
	line-height: 40px;
}

.l3 {
	font-size: 24px;
	line-height: 32px;
}

.l4 {
	font-size: 20px;
	line-height: 28px;
}

.l5 {
	font-size: 18px;
	line-height: 24px;
}

.w1 {
	font-weight: 600;
}

.w2 {
	font-weight: 500;
}

.w3 {
	font-weight: 400;
}

.uppercase {
	text-transform: uppercase;
}
