.order {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
	row-gap: 20px;
}

.sum {
	margin-bottom: 20px;
	color: var(--primary);
	font-size: 18px;
	text-align: center;
}

.divider {
	margin-bottom: 20px;
}
