:root {
	--primary: #FF7010;
	--light-primary: #FFEEE2;
	--black: #191919;
	--gray-text: #A5A5A5;
	--line-gray: #F0F0F0;
	--background-gray: #F9F9F9;
	--white: #FFF;
	--red: #E23535;
	--green: #24D17E;
}
