@import './components', 'colors', 'col', 'grid', 'nav', 'flex';

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--background-gray);
}

.block {
	display: block;
}

@font-face {
	font-family: 'SF Pro Text Regular';
	src: url('../fonts/SF-Pro-Text-Regular.otf');
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
}
